@model RegisterViewModel

<div class="container">

    <div class="row">
        <div class="offset-md-3 col-md-6">

            <h2 class="text-center">Реєстрація на сайт</h2>
            <div class="mb-2">
                <a asp-action="Login" asp-controller="Account">У мене уже є акаунт</a>
            </div>


            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-flex align-items-end flex-column">
                    <div class="form-group mt-2 me-2">
                        <input type="submit" value="Реєструватися" class="btn btn-warning px-5" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>